@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean');

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin noto() {
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

dl {
    margin-bottom: 0;
    dd {
        margin-bottom: 0;
    }
}

address {
    margin-bottom: 0;
}

label {
    font-weight: 400;
    margin-bottom: 0;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.btn {
    padding: 0;
    border-radius: 0;
    border: 0;
    background: none;
    box-shadow: none !important;
    @include transition();
    &:hover {
        opacity: .7;
    }
}

.form-group {
    margin: 0;
}
.form-control {
    border-radius: 0;
    box-shadow: none !important;
}

.container {
    max-width: 100% !important;
    padding: 0 10px !important;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

body {
    position: relative;
    min-width: 320px;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    @include noto();
}