@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

figure {
  margin: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.btn {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }

body {
  position: relative;
  min-width: 320px;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

#content {
  margin-top: 45px; }

.main .jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background: none; }
  .main .jumbotron .main-slide li {
    width: 100%;
    outline: none;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  .main .jumbotron .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    height: 10px;
    width: 100%;
    text-align: center; }
    .main .jumbotron .slick-dots > li {
      display: inline-block;
      width: auto;
      height: auto; }
      .main .jumbotron .slick-dots > li button {
        cursor: pointer;
        width: 10px;
        height: 10px;
        display: block;
        border: 0;
        background: none;
        padding: 0;
        margin: 0 5px;
        text-indent: -9999px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px 0px 7px 0px rgba(180, 180, 180, 0.35); }
      .main .jumbotron .slick-dots > li.slick-active button {
        background-color: #ffd900; }

.work-list ul li {
  border-bottom: 2px solid #f3f3f5; }
  .work-list ul li a {
    display: block; }
    .work-list ul li a figure {
      position: relative; }
      .work-list ul li a figure .img-fluid {
        width: 100%; }
      .work-list ul li a figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        opacity: 0;
        background-color: rgba(255, 217, 0, 0.85);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .work-list ul li a figure figcaption h3 {
          font-size: 15px;
          color: #262323;
          font-weight: 400; }
        .work-list ul li a figure figcaption p {
          position: absolute;
          bottom: 15px;
          left: 20px;
          font-size: 12px;
          color: #262323;
          font-weight: 300; }
  .work-list ul li:last-child {
    border-bottom: 0; }
  .work-list ul li.active a figure figcaption {
    opacity: 1; }
  .work-list ul li.popdesign > a figure .img-fluid {
    position: relative;
    z-index: 1;
    /*background-image: url(/mobile/assets/images/work/icon_popdesign.png);*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
  .work-list ul li.popdesign.active figure .img-fluid {
    /*background-image: url(/mobile/assets/images/work/icon_popdesign_on.png);*/ }

.pop-design {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  /*.btn-pop {
      position: relative;
      display: block;
      img {
          position: absolute;
          bottom: 0;
          left: 0;
          @include transition();
          width: 100%;
          &.default {
              opacity: 1;
          }
          &.on {
              opacity: 0;
          }
      }
      &.active {
          &.default {
              opacity: 0;
          }
          &.on {
              opacity: 1;
          }
      }
  }*/ }
  .pop-design .btn-pop {
    display: block;
    height: 55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(/mobile/assets/images/work/pop_sign_txt.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
    background-color: #e1e1e1;
    background-size: 140px auto;
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.35);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .pop-design .btn-pop.active {
      background-image: url(/mobile/assets/images/work/pop_on_sign_txt.png); }

.work-view {
  padding: 25px 10px 0; }
  .work-view .article-header {
    position: relative; }
    .work-view .article-header .btn-default {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 28px;
      z-index: 1;
      text-align: center;
      color: #ffd901;
      border-radius: 50%;
      background-color: #231f20;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .work-view .article-header .btn-default.active {
        color: #fff; }
  .work-view .details > li ~ li {
    margin-top: 15px; }
  .work-view .details > li dl dt {
    position: relative;
    font-size: 14px;
    color: #231f20;
    font-weight: 600;
    padding-top: 5px; }
    .work-view .details > li dl dt:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: #ffd900; }
  .work-view .details > li dl dd {
    font-size: 12px;
    color: #231f20;
    font-weight: 300; }
  .work-view .article-content {
    padding-bottom: 65px; }
    .work-view .article-content .details-list {
      position: relative; }
      .work-view .article-content .details-list li {
        outline: none; }
        .work-view .article-content .details-list li figure {
          min-height: 500px;
          line-height: 500px; }
          .work-view .article-content .details-list li figure .img-fluid {
            display: inline-block;
            width: 100%; }
      .work-view .article-content .details-list .slick-dots {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        text-align: center; }
        .work-view .article-content .details-list .slick-dots > li {
          display: inline-block;
          width: auto;
          height: auto; }
          .work-view .article-content .details-list .slick-dots > li button {
            width: 10px;
            height: 10px;
            display: block;
            text-indent: -9999px;
            padding: 0;
            margin: 0 5px;
            border: 1px solid #fff;
            border-radius: 50%;
            background: none;
            background-color: #fff;
            box-shadow: 0px 0px 7px 0px rgba(180, 180, 180, 0.35); }
          .work-view .article-content .details-list .slick-dots > li.slick-active button {
            background-color: #ffd900; }

.about {
  padding-bottom: 40px; }
  .about .page-header {
    position: relative;
    height: 146px;
    background-image: url(/mobile/assets/images/about/bg_about.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .about .page-header h2 {
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -80px; }
      .about .page-header h2 img {
        width: 174px; }
  .about article {
    padding: 0 20px;
    margin-top: 80px; }
    .about article ul li {
      text-align: center; }
      .about article ul li ~ li {
        margin-top: 45px; }
      .about article ul li h3 {
        position: relative;
        display: inline-block;
        font-size: 22px;
        color: #000;
        font-weight: 500;
        padding-top: 5px;
        margin-bottom: 10px; }
        .about article ul li h3:after {
          position: absolute;
          top: 0;
          right: -7px;
          display: block;
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          border: 2px solid #000; }
      .about article ul li b {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #000;
        font-weight: 400; }
      .about article ul li hr {
        display: block;
        margin: 10px auto;
        width: 40px;
        border-top: 2px solid #ffd900; }
      .about article ul li p {
        text-align: justify;
        word-break: keep-all;
        font-size: 12px;
        color: #000;
        line-height: 15px;
        font-weight: 300; }

.contact-request .maps {
  width: 100%;
  height: 180px; }
  .contact-request .maps span {
    display: block;
    width: 100%;
    height: 180px;
    text-align: center;
    line-height: 180px;
    font-size: 12px;
    color: #000;
    background-color: #f3f3f5; }
.contact-request .details-addr {
  margin-top: 15px;
  text-align: left;
  padding: 0 20px; }
  .contact-request .details-addr dt {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-bottom: 5px; }
    .contact-request .details-addr dt:after {
      position: absolute;
      top: 0;
      right: -10px;
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 2px solid #000; }
  .contact-request .details-addr dd {
    padding-left: 45px;
    background-image: url(/mobile/assets/images/contact/bg_location.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 35px auto; }
    .contact-request .details-addr dd b {
      display: block;
      font-size: 13px;
      color: #000;
      font-weight: 500; }
    .contact-request .details-addr dd address {
      display: block;
      font-size: 12px;
      color: #000;
      font-weight: 300;
      margin-bottom: 5px;
      word-break: keep-all; }
    .contact-request .details-addr dd p {
      font-size: 12px;
      color: #000;
      font-weight: bold; }
.contact-request .article-content {
  margin-top: 35px;
  padding: 0 20px 25px; }
  .contact-request .article-content h3 {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-bottom: 5px; }
    .contact-request .article-content h3:after {
      position: absolute;
      top: 0;
      right: -10px;
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 2px solid #000; }
  .contact-request .article-content p {
    font-size: 11px;
    color: #000;
    line-height: 16px;
    font-weight: 400;
    word-break: keep-all;
    text-align: justify; }
  .contact-request .article-content ul {
    margin-top: 10px; }
    .contact-request .article-content ul li ~ li {
      margin-top: 10px; }
    .contact-request .article-content ul li .form-group .form-control {
      padding: 5px 15px;
      width: 100%;
      height: 33px;
      font-size: 12px;
      color: #000;
      border: 1px solid #000; }
      .contact-request .article-content ul li .form-group .form-control::placeholder {
        color: #000;
        opacity: 1; }
      .contact-request .article-content ul li .form-group .form-control:-ms-input-placeholder {
        color: #000; }
      .contact-request .article-content ul li .form-group .form-control::-ms-input-placeholder {
        color: #000; }
    .contact-request .article-content ul li .form-group textarea {
      height: 90px !important; }
  .contact-request .article-content .btn-area {
    text-align: right;
    margin-top: 15px; }
    .contact-request .article-content .btn-area .btn-default {
      display: inline-block;
      width: 90px;
      height: 26px;
      font-size: 11px;
      color: #ffd902;
      line-height: 26px;
      font-weight: 300;
      letter-spacing: 2px;
      background-color: #221f1f;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .contact-request .article-content .btn-area .btn-default.active {
        color: #fff; }

.none-foot #footer {
  display: none; }

/*# sourceMappingURL=style.css.map */
