@import 'common';

// content 
#content {
    margin-top: 45px;
}

.main {
    .jumbotron {
        position: relative;
        padding: 0;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        background: none;
        .main-slide {
            li {
                width: 100%;
                outline: none;
                height: 580px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 40px;
            left: 0;
            height: 10px;
            width: 100%;
            text-align: center;
            > li {
                display: inline-block;
                width: auto;
                height: auto;
                button {
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    display: block;
                    border: 0;
                    background: none;
                    padding: 0;
                    margin: 0 5px;
                    text-indent: -9999px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 1px solid #fff;
                    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
                }
                &.slick-active {
                    button {
                        background-color: #ffd900;
                    }
                }
            }
        }
    }
}

// work-list
.work-list {
    ul {
        li {
            border-bottom: 2px solid #f3f3f5;
            a {
                display: block;
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

// pop-design 
.pop-design {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    a {
        display: block;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #e1e1e1;
        box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.35);
        img {
            width: 140px;
        }
    }
}

// work-view
.work-view {
    padding: 25px 10px 0;
    .article-header {
        position: relative;
        .btn-default {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 28px;
            text-align: center;
            color: #ffd901;
            border-radius: 50%;
            background-color: #231f20;
        }
        > ul {
            > li {
                & ~ li {
                    margin-top: 15px;
                }
                dl {
                    dt {
                        position: relative;
                        font-size: 14px;
                        color: #231f20;
                        font-weight: 600;
                        padding-top: 5px;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            display: block;
                            width: 20px;
                            height: 2px;
                            background-color: #ffd900;
                        }
                    }
                    dd {
                        font-size: 12px;
                        color: #231f20;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .article-content {
        margin-top: 25px;
        padding-bottom: 65px;
        .details-list {
            position: relative;
            li {
                outline: none;
                figure {
                    .img-fluid {
                        width: 100%;
                        display: block;
                    }
                }
            }
            .slick-dots {
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                text-align: center;
                > li {
                    display: inline-block;
                    width: auto;
                    height: auto;
                    button {
                        width: 10px;
                        height: 10px;
                        display: block;
                        text-indent: -9999px;
                        padding: 0;
                        margin: 0 5px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        background: none;
                        background-color: #fff;
                        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
                    }
                    &.slick-active {
                        button {
                            background-color: #ffd900;
                        }
                    }
                }
            }
        }
    }
}

// about
.about {
    padding-bottom: 40px;
    .page-header {
        position: relative;
        height: 146px;
        background-image: url(/mobile/assets/images/about/bg_about.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        h2 {
            position: absolute;
            bottom: -50px;
            left: 50%;
            margin-left: -80px;
            img {
                width: 174px;
            }
        }
    }
    article {
        padding: 0 20px;
        margin-top: 80px;
        ul {
            li {
                text-align: center;
                & ~ li {
                    margin-top: 45px;
                }
                h3 {
                    position: relative;
                    display: inline-block;
                    font-size: 22px;
                    color: #000;
                    font-weight: 500;
                    padding-top: 5px;
                    margin-bottom: 10px;
                    &:after {
                        position: absolute;
                        top: 0;
                        right: -7px;
                        display: block;
                        content: "";
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        border: 2px solid #000;
                    }
                }
                b {
                    display: block;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000;
                    font-weight: 400;
                }
                hr {
                    display: block;
                    margin: 10px auto;
                    width: 40px;
                    border-top: 2px solid #ffd900;
                }
                p {
                    text-align: justify;
                    word-break: keep-all;
                    font-size: 12px;
                    color: #000;
                    line-height: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}

// contact-request
.contact-request {
    .maps {
        width: 100%;
        height: 180px;
        span {
            display: block;
            width: 100%;
            height: 180px;
            text-align: center;
            line-height: 180px;
            font-size: 12px;
            color: #000;
            background-color: #f3f3f5;
        }
    }
    .details-addr {
        margin-top: 15px;
        text-align: left;
        padding: 0 20px;
        dt {
            position: relative;
            display: inline-block;
            font-size: 22px;
            color: #000;
            font-weight: 500;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            &:after {
                position: absolute;
                top: 0;
                right: -10px;
                display: block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                border: 2px solid #000;
            }
        }
        dd {
            padding-left: 45px;
            background-image: url(/mobile/assets/images/contact/bg_location.jpg);
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: 35px auto;
            b {
                display: block;
                font-size: 13px;
                color: #000;
                font-weight: 500;
            }
            address {
                display: block;
                font-size: 12px;
                color: #000;
                font-weight: 300;
                margin-bottom: 5px;
                word-break: keep-all;
            }
            p {
                font-size: 12px;
                color: #000;
                font-weight: bold;
            }
        }
    }
    .article-content {
        margin-top: 35px;
        padding: 0 20px 25px;
        h3 {
            position: relative;
            display: inline-block;
            font-size: 22px;
            color: #000;
            font-weight: 500;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            &:after {
                position: absolute;
                top: 0;
                right: -10px;
                display: block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                border: 2px solid #000;
            }
        }
        p {
            font-size: 11px;
            color: #000;
            line-height: 16px;
            font-weight: 400;
            word-break: keep-all;
            text-align: justify;
        }
        ul {
            margin-top: 10px;
            li {
                & ~ li {
                    margin-top: 10px;
                }
                .form-group {
                    .form-control {
                        padding: 5px 15px;
                        width: 100%;
                        height: 33px;
                        font-size: 12px;
                        color: #000;
                        border: 1px solid #000;
                        &::placeholder { 
                            color: #000;
                            opacity: 1; 
                        }
                        &:-ms-input-placeholder { 
                            color: #000;
                        }
                        &::-ms-input-placeholder { 
                            color: #000;
                        }
                    }
                    textarea {
                        height: 90px !important;
                    }
                }
            }
        }
        .btn-area {
            text-align: right;
            margin-top: 15px;
            .btn-default {
                display: inline-block;
                width: 90px;
                height: 26px;
                font-size: 11px;
                color: #fff;
                line-height: 26px;
                font-weight: 300;
                letter-spacing: 2px;
                background-color: #221f1f;
            }
        }
    }
}


.none-foot {
    #footer {
        display: none;
    }
}