@import 'common';

// main
.main {
    position: relative;
    width: 100%;
    height: 100%;
    .jumbotron {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background: none;
        border-radius: 0;
        .main-slide {
            position: relative;
            width: 100%;
            height: 100%;
            .slick-list {
                width: 100%;
                height: 100%;
                .slick-track {
                    width: 100%;
                    height: 100%;
                }
            }
            li {
                width: 100%;
                height: 100%;
                outline: none;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 100%;
            height: 16px;
            text-align: center;
            li {
                display: inline-block;
                width: auto;
                button {
                    outline: none;
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                    display: block;
                    padding: 0;
                    text-indent: -99999px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background-color: #fff;
                    margin: 0 8px;
                    box-shadow: 0px 0px 7px 0px rgba(180, 180, 180, 0.35);
                }
                &.slick-active {
                    button {
                        background-color: #ffd900;
                    }
                }
            }
        }
    }
}

// sub
.sub {
    #gnb {
        .btn-move {
            > .btn-default {
                &:before {
                    display: inline-block;
                    content: "";
                    margin-top: 7px;
                    border-right: 13px solid transparent;
                    border-bottom: 18px solid;
                    border-left: 13px solid transparent;
                    border-radius: 2px;
                }
            }
        }
    }
}



// work-list 
.work-list {
    .list {
        text-align: center;
        padding: 50px 0 60px;
        > ul {
            display: inline-block;
            > li {
                float: left;
                width: 325px;
                margin-right: 27px;
                a {
                    display: block;
                    figure {
                        display: inline-block;
                        position: relative;
                        .img-fluid {
                            width: 325px;
                            height: 210px;
                        }
                        figcaption {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 20px 30px;
                            opacity: 0;
                            text-align: left;
                            @include transition();
                            background-color: rgba(255, 217, 0, .85);
                            h3 {
                                font-size: 19px;
                                color: #262323;
                                font-weight: 400;
                            }
                            p {
                                position: absolute;
                                bottom: 20px;
                                left: 30px;
                                font-size: 14px;
                                color: #262323;
                                font-weight: 300;
                            }
                        }
                    }
                    &:hover {
                        figure {
                            figcaption {
                                opacity: 1;
                            }
                        }
                    }
                }
                &:nth-of-type(3) ~ li {
                    a {
                        margin-top: 27px;
                    }
                }
                &:nth-of-type(3n + 1) {
                    clear: both;
                }
                &.popdesign {
                    > a {
                        figure {
                            .img-fluid {
                                position: relative;
                                z-index: 100;
                                background-image: url(/assets/images/work/img_pop_design.png);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                background-size: contain;
                                @include transition();
                            }
                        }
                        &:hover {
                            figure {
                                .img-fluid {
                                    background-image: url(/assets/images/work/img_pop_design_on.jpg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// work-view
.work-view {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 60px 0 140px;*/
    padding-top: 60px;
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
        }
    }
    .details-list {
        height: 100%;
        padding-bottom: 60px;
        li {
            position: relative;
            width: 100%;
            height: 100%;
            outline: none;
            padding-top: 100px;
            .details-img {
                width: 1000px;
                height: 100%;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
            }
            .details {
                position: absolute;
                top: 0;
                left: 50%;
                overflow: hidden;
                width: 1170px;
                margin-left: -585px;
                > li {
                    width: auto;
                    float: left;
                    padding: 0;
                    margin-right: 55px;
                    &:last-child {
                        margin-right: 0;
                    }
                    dl {
                        dt {
                            position: relative;
                            font-size: 22px;
                            color: #231f20;
                            font-weight: 600;
                            padding-top: 10px;
                            margin-bottom: 5px;
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                content: " ";
                                display: block;
                                width: 30px;
                                height: 3px;
                                background-color: #ffd900;
                            }
                        }
                        dd {
                            font-size: 17px;
                            color: #231f20;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        color: #ffdd14;
        cursor: pointer;
        z-index: 1;
        padding: 0;
        margin: 0;
        margin-top: -35px;
        border: 0;
        outline: none;
        border-radius: 0;
        background: none;
        @include transition();
        &:hover {
            opacity: .7;
        }
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }
}

// about
.about {
    .page-header {
        position: relative;
        width: 100%;
        height: 360px;
        background-image: url(/assets/images/about/bg_about.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        h2 {
            position: absolute;
            bottom: -158px;
            left: 50%;
            font-size: 0;
            margin-left: -194px;
            img {
                width: 440px;
                display: block;
            }
        }
    }
    article {
        margin-top: 240px;
        padding-bottom: 160px;
        ul {
            overflow: hidden;
            li {
                float: left;
                width: 335px;
                text-align: center;
                margin-right: 80px;
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    p {
                        letter-spacing: -.5px;
                    }
                }
                h3 {
                    position: relative;
                    display: inline-block;
                    font-size: 35px;
                    font-weight: 500;
                    padding-top: 10px;
                    color: #000;
                    &:after {
                        position: absolute;
                        top: 8px;
                        right: -10px;
                        content: "";
                        display: block;
                        z-index: 1;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        border: 2px solid #000;
                    }
                }
                b {
                    display: block;
                    font-size: 19px;
                    color: #000;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 20px;
                }
                hr {
                    display: block;
                    width: 30px;
                    margin: 30px auto 35px;
                    border-top: 3px solid #ffd900;
                }
                p {
                    font-size: 15px;
                    color: #000;
                    line-height: 20px;
                    word-break: keep-all;
                    text-align: justify;
                    font-weight: 300;
                }
            }
        }
    }
}

// contact-request
.contact-request {
    padding-top: 390px;
    padding-bottom: 75px;
    background-image: url(/assets/images/contact/bg_contact.jpg);
    background-repeat: repeat-x;
    background-size: auto 360px;
    background-position: 50% 0;
    article {
        .article-header {
            text-align: left;
            h2 {
                position: relative;
                font-size: 45px;
                color: #000;
                font-weight: 500;
                padding-top: 5px;
                display: inline-block;
                margin-bottom: 30px;
                &:after {
                    position: absolute;
                    top: 0;
                    right: -15px;
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 3px solid #000;
                    border-radius: 50%;
                }
            }
        }
        &.contact {
            padding-right: 10px;
            .article-header {
                dl {
                    padding-left: 58px;
                    background-image: url(/assets/images/contact/icon_location.png);
                    background-position: 0 50%;
                    background-size: 40px auto;
                    background-repeat: no-repeat;
                    dt {
                        font-size: 15px;
                        color: #000;
                        font-weight: 500;
                    }
                    dd {
                        address {
                            display: block;
                            font-size: 13px;
                            color: #000;
                            font-weight: 400;
                        }
                        b {
                            display: block;
                            font-size: 15px;
                            color: #000;
                            font-weight: bold;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .article-content {
                margin-top: 30px;
                .maps {
                    height: 324px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        &.request {
            padding-left: 70px;
            .article-header {
                p {
                    font-size: 15px;
                    line-height: 18px;
                    color: #000;
                    font-weight: 300;
                    word-break: keep-all;
                    text-align: justify;
                }
            }
            .article-content {
                margin-top: 63px;
                .table-wrap {
                    height: 324px;
                    .table {
                        margin: 0;
                        border: 0;
                        table-layout: fixed;
                        tbody {
                            tr {
                                td {
                                    width: 100%;
                                    padding: 0;
                                    border: 0;
                                    .form-group {
                                        margin-bottom: 35px;
                                        .form-control {
                                            font-size: 15px;
                                            color: #000;
                                            font-weight: 400;
                                            width: 100%;
                                            height: 45px;
                                            padding: 10px 20px;
                                            border: 1px solid #000;
                                            &::placeholder {
                                                color: #000;
                                                opacity: 1;
                                                font-weight: 500;
                                            }
                                            &:-ms-input-placeholder {
                                                color: #000;
                                                font-weight: 500;
                                            }
                                            &::-ms-input-placeholder {
                                                color: #000;
                                                font-weight: 500;
                                            }

                                        }
                                    }
                                    &:nth-of-type(odd) {
                                        padding-right: 20px;
                                    }
                                    &:nth-of-type(even) {
                                        padding-left: 20px;
                                    }
                                }
                                &:last-child {
                                    td {
                                        padding: 0 !important;
                                        .form-group {
                                            margin: 0 !important;
                                            textarea {
                                                height: 163px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-area {
                    margin-top: 30px;
                    text-align: right;
                    .btn-submit {
                        display: inline-block;
                        width: 150px;
                        height: 45px;
                        border: 0;
                        line-height: 45px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 300;
                        text-align: center;
                        letter-spacing: 2px;
                        background-color: #221f1f;
                        @include transition();
                        &:hover {
                            color: #ffd700;
                        }
                    }
                }
            }
        }
    }
}


#content {
    /*overflow: auto;*/
    width: 100%;
    height: 100%;
}

.content-static {
    position: static;
    padding-bottom: 0;
    #footer {
        position: static;
    }
}



.none-foot {
    padding-bottom: 0;
    #content {
        overflow: hidden;
    }
    #footer {
        display: none;
    }
}