@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }
  .container .row.priority,
  .container-fluid .row.priority {
    overflow: visible; }

.container {
  max-width: 1200px !important; }

body {
  min-width: 1200px;
  font-size: 15px;
  color: #231f20;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

#content {
  position: relative;
  width: 100%;
  height: 100%; }

.main .jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 0; }
  .main .jumbotron .main-slide {
    position: relative;
    width: 100%;
    height: 100%; }
    .main .jumbotron .main-slide .slick-list {
      width: 100%;
      height: 100%; }
      .main .jumbotron .main-slide .slick-list .slick-track {
        width: 100%;
        height: 100%; }
    .main .jumbotron .main-slide li {
      width: 100%;
      height: 100%;
      outline: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
  .main .jumbotron .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 16px;
    text-align: center; }
    .main .jumbotron .slick-dots li {
      display: inline-block;
      width: auto; }
      .main .jumbotron .slick-dots li button {
        outline: none;
        width: 16px;
        height: 16px;
        display: block;
        padding: 0;
        text-indent: -99999px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 8px;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
      .main .jumbotron .slick-dots li.slick-active button {
        background-color: #ffd900; }

/*# sourceMappingURL=style.css.map */
