@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }
  .container .row.priority,
  .container-fluid .row.priority {
    overflow: visible; }

.container {
  max-width: 1200px !important; }

body {
  min-width: 1200px;
  font-size: 15px;
  color: #231f20;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

.main {
  position: relative;
  width: 100%;
  height: 100%; }
  .main .jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0; }
    .main .jumbotron .main-slide {
      position: relative;
      width: 100%;
      height: 100%; }
      .main .jumbotron .main-slide .slick-list {
        width: 100%;
        height: 100%; }
        .main .jumbotron .main-slide .slick-list .slick-track {
          width: 100%;
          height: 100%; }
      .main .jumbotron .main-slide li {
        width: 100%;
        height: 100%;
        outline: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
    .main .jumbotron .slick-dots {
      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      height: 16px;
      text-align: center; }
      .main .jumbotron .slick-dots li {
        display: inline-block;
        width: auto; }
        .main .jumbotron .slick-dots li button {
          outline: none;
          cursor: pointer;
          width: 16px;
          height: 16px;
          display: block;
          padding: 0;
          text-indent: -99999px;
          border: 2px solid #fff;
          border-radius: 50%;
          background-color: #fff;
          margin: 0 8px;
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35); }
        .main .jumbotron .slick-dots li.slick-active button {
          background-color: #ffd900; }

.sub #gnb .btn-move > .btn-default:before {
  display: inline-block;
  content: "";
  margin-top: 7px;
  border-right: 13px solid transparent;
  border-bottom: 18px solid;
  border-left: 13px solid transparent;
  border-radius: 2px; }

/*.basic-content {
    overflow: auto;
}*/
.work-list {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .work-list .list {
    padding: 50px 0 60px;
    display: table-cell;
    vertical-align: middle; }
    .work-list .list > ul > li a {
      display: block; }
      .work-list .list > ul > li a figure {
        position: relative; }
        .work-list .list > ul > li a figure .img-fluid {
          width: 100%; }
        .work-list .list > ul > li a figure figcaption {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px 30px;
          opacity: 0;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-color: rgba(255, 217, 0, 0.85); }
          .work-list .list > ul > li a figure figcaption h3 {
            font-size: 19px;
            color: #262323;
            font-weight: 400; }
          .work-list .list > ul > li a figure figcaption p {
            position: absolute;
            bottom: 20px;
            left: 30px;
            font-size: 14px;
            color: #262323;
            font-weight: 300; }
      .work-list .list > ul > li a:hover figure figcaption {
        opacity: 1; }
    .work-list .list > ul > li:nth-of-type(3) ~ li a {
      margin-top: 30px; }

.work-view {
  padding: 60px 0 140px; }
  .work-view .article-header ul {
    overflow: hidden; }
    .work-view .article-header ul li {
      float: left;
      margin-right: 55px; }
      .work-view .article-header ul li:last-child {
        margin-right: 0; }
      .work-view .article-header ul li dl dt {
        position: relative;
        font-size: 22px;
        color: #231f20;
        font-weight: 600;
        padding-top: 10px;
        margin-bottom: 5px; }
        .work-view .article-header ul li dl dt:before {
          position: absolute;
          top: 0;
          left: 0;
          content: " ";
          display: block;
          width: 30px;
          height: 3px;
          background-color: #ffd900; }
      .work-view .article-header ul li dl dd {
        font-size: 17px;
        color: #231f20;
        font-weight: 300; }
  .work-view .article-content {
    position: relative;
    margin-top: 60px; }
    .work-view .article-content .details-list li {
      outline: none; }
      .work-view .article-content .details-list li .img-fluid {
        display: block;
        margin: 0 auto; }
    .work-view .article-content .slick-arrow {
      position: absolute;
      top: 50%;
      font-size: 50px;
      color: #ffdd14;
      cursor: pointer;
      z-index: 1;
      padding: 0;
      margin: 0;
      margin-top: -37px;
      border: 0;
      outline: none;
      border-radius: 0;
      background: none;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .work-view .article-content .slick-arrow:hover {
        opacity: .7; }
      .work-view .article-content .slick-arrow.prev {
        left: -20px; }
      .work-view .article-content .slick-arrow.next {
        right: -20px; }

.about .page-header {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url(/assets/images/about/bg_about.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  .about .page-header h2 {
    position: absolute;
    bottom: -158px;
    left: 50%;
    font-size: 0;
    margin-left: -194px; }
    .about .page-header h2 img {
      display: block; }
.about article {
  margin-top: 240px;
  padding-bottom: 160px; }
  .about article ul {
    overflow: hidden; }
    .about article ul li {
      float: left;
      width: 345px;
      text-align: center;
      margin-right: 65px; }
      .about article ul li:last-child {
        margin-right: 0; }
      .about article ul li h3 {
        position: relative;
        display: inline-block;
        font-size: 35px;
        font-weight: 500;
        padding-top: 10px;
        color: #000; }
        .about article ul li h3:after {
          position: absolute;
          top: 8px;
          right: -10px;
          content: "";
          display: block;
          z-index: 1;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 2px solid #000; }
      .about article ul li b {
        display: block;
        font-size: 19px;
        color: #000;
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px; }
      .about article ul li hr {
        display: block;
        width: 30px;
        margin: 30px auto 35px;
        border-top: 3px solid #ffd900; }
      .about article ul li p {
        font-size: 15px;
        color: #000;
        line-height: 20px;
        word-break: keep-all;
        text-align: justify;
        font-weight: 300; }

.contact-request {
  padding-top: 390px;
  padding-bottom: 75px;
  background-image: url(/assets/images/contact/bg_contact.jpg);
  background-repeat: repeat-x;
  background-size: auto 360px;
  background-position: 50% 0; }
  .contact-request article .article-header {
    text-align: left; }
    .contact-request article .article-header h2 {
      position: relative;
      font-size: 45px;
      color: #000;
      font-weight: 500;
      padding-top: 5px;
      display: inline-block;
      margin-bottom: 30px; }
      .contact-request article .article-header h2:after {
        position: absolute;
        top: 0;
        right: -15px;
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 3px solid #000;
        border-radius: 50%; }
  .contact-request article.contact {
    padding-right: 10px; }
    .contact-request article.contact .article-header dl {
      padding-left: 58px;
      background-image: url(/assets/images/contact/icon_location.jpg);
      background-position: 0 50%;
      background-repeat: no-repeat; }
      .contact-request article.contact .article-header dl dt {
        font-size: 15px;
        color: #000;
        font-weight: 500; }
      .contact-request article.contact .article-header dl dd address {
        display: block;
        font-size: 13px;
        color: #000;
        font-weight: 400; }
      .contact-request article.contact .article-header dl dd b {
        display: block;
        font-size: 15px;
        color: #000;
        font-weight: bold;
        margin-top: 5px; }
    .contact-request article.contact .article-content {
      margin-top: 30px; }
      .contact-request article.contact .article-content .maps {
        height: 324px; }
        .contact-request article.contact .article-content .maps img {
          display: block;
          width: 100%; }
  .contact-request article.request {
    padding-left: 70px; }
    .contact-request article.request .article-header p {
      font-size: 15px;
      line-height: 18px;
      color: #000;
      font-weight: 300;
      word-break: keep-all;
      text-align: justify; }
    .contact-request article.request .article-content {
      margin-top: 63px; }
      .contact-request article.request .article-content .table-wrap {
        height: 324px; }
        .contact-request article.request .article-content .table-wrap .table {
          margin: 0;
          border: 0;
          table-layout: fixed; }
          .contact-request article.request .article-content .table-wrap .table tbody tr td {
            width: 100%;
            padding: 0;
            border: 0; }
            .contact-request article.request .article-content .table-wrap .table tbody tr td .form-group {
              margin-bottom: 35px; }
              .contact-request article.request .article-content .table-wrap .table tbody tr td .form-group .form-control {
                font-size: 15px;
                color: #000;
                font-weight: 400;
                width: 100%;
                height: 45px;
                padding: 10px 20px;
                border: 1px solid #000; }
                .contact-request article.request .article-content .table-wrap .table tbody tr td .form-group .form-control::placeholder {
                  color: #000;
                  opacity: 1;
                  font-weight: 500; }
                .contact-request article.request .article-content .table-wrap .table tbody tr td .form-group .form-control:-ms-input-placeholder {
                  color: #000;
                  font-weight: 500; }
                .contact-request article.request .article-content .table-wrap .table tbody tr td .form-group .form-control::-ms-input-placeholder {
                  color: #000;
                  font-weight: 500; }
            .contact-request article.request .article-content .table-wrap .table tbody tr td:nth-of-type(odd) {
              padding-right: 20px; }
            .contact-request article.request .article-content .table-wrap .table tbody tr td:nth-of-type(even) {
              padding-left: 20px; }
          .contact-request article.request .article-content .table-wrap .table tbody tr:last-child td {
            padding: 0 !important; }
            .contact-request article.request .article-content .table-wrap .table tbody tr:last-child td .form-group {
              margin: 0 !important; }
              .contact-request article.request .article-content .table-wrap .table tbody tr:last-child td .form-group textarea {
                height: 163px !important; }
      .contact-request article.request .article-content .btn-area {
        margin-top: 30px;
        text-align: right; }
        .contact-request article.request .article-content .btn-area .btn-submit {
          display: inline-block;
          width: 150px;
          height: 45px;
          border: 0;
          line-height: 45px;
          color: #fff;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          letter-spacing: 2px;
          background-color: #221f1f;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .contact-request article.request .article-content .btn-area .btn-submit:hover {
            color: #ffd700; }

.content-static {
  position: static;
  padding-bottom: 0; }
  .content-static #footer {
    position: static; }

/*# sourceMappingURL=style.css.map */
